@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Quicksand", serif;
}
 header{
    max-width: 80%;
    margin:50px auto;
 }

 /* shared styles  start*/

.primary_p{
        color: rgb(17, 17, 17);
        font-size: 1.5rem;
        font-weight: 400; 
        margin-bottom: 24px;   
}

.secondary_p{
    color: rgb(128, 128, 128);
    font-size: 15.09px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}
.primary_btn{
    color: rgb(255, 255, 255);
    padding: 15px 45px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
}
 /* shared styles  end*/

/* -------------header styles start---------- */

/* navbar styles  */
/* .navbar{    
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid rgba(254, 163, 1, 1);
} */

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo_part{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav_title{
        color: rgb(17, 17, 17);    
        font-size: 32px;
        font-weight: 700;      
}
.menu_items {
    display: flex;
    gap: 32px;

}
.menu_items li{
    list-style: none;
}
.menu_items li a{
    text-decoration: none;
}
#home{
        color: rgb(254, 163, 1);
        font-size: 1.5rem;
        font-weight: 500;
       
}
#about {
    color: rgb(1, 172, 253);
    font-size: 1.5rem;
    font-weight: 500;

}
#Facilities{
    color: rgb(5, 212, 223);
    font-size: 1.5rem;
    font-weight: 500;
}
#Admission{
    color: rgb(93, 88, 239);
    font-size: 1.5rem;
    font-weight: 500;
}
.nav_btn{
    color: rgb(255, 255, 255);
    background-color: #fff;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 15px 45px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav_menubar{
    display: none;
}

/* banner section styles start */
.banner_section{
    
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner_title{  
    font-size: 3.5rem;
    font-weight: 700;   
    margin-bottom: 24px; 
}
.sp1{
    color: rgb(254, 163, 1);
}
.sp2 {
    color: rgb(17, 17, 17);
}
.sp3 {
    color:rgb(1, 172, 253);
}
.banner_img{
    max-width: 100%;
}

/* banner section styles end */

/* -------------header styles end---------- */



/* -------------main styles start---------- */
main{
    background-image: url("assets/bg.png");  
}
.standard_curriculum{
    max-width: 80%;
    margin: 50px auto;
}

.std_clm_title{
        color: rgb(0, 0, 0);
        font-size: 46px;
        font-weight: 700;
        text-align: center; 
        margin-top: 20px;     
}
.clm_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 60px;
}
.clm_box{  
    text-align: center;
    padding: 40px;
    border-radius: 18px;
} 
.clm_box_1{
    background: linear-gradient(to top, white 70%, #DEF5FF);
    box-shadow: 0 0 12px #DEF5FF inset ;
}
.clm_box_2{
    
    background: linear-gradient(to top, white 70%, #FFF4DC);
    box-shadow: 0 0 12px #FFF4DC inset;
}
.clm_box_3 {

    background: linear-gradient(to top, white 70%, #F2E8FF);
    box-shadow: 0 0 12px #F2E8FF inset;
}
.clm_img{
    margin-top: 40px;
}
.clm_title{
    margin-top: 30px;
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
}
.clm_a{
   margin-top: 30px;
    text-decoration: none;
    font-size: 15.09px;
    font-weight: 700;
    color: rgb(100, 200, 255);
    
}
.arrow_section{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom:  40px;
    column-gap: 10px;
    
}
.arrow_box{
   
    background-color:rgb(254, 163, 1);
    color: white;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.arrow_box .arrow{
    
    padding-top: 20px;
    padding-left: 22px;
    font-size: 24px;
    font-weight: 900;
}




/* -------------main styles end---------- */




/*  responsive for mobile device start */




@media screen and (max-width:576px) {

    /* navbar responsive start */

    .nav_title{
        display: none;
    }
    .nav_menubar{
        display: contents;
    }
    .menu_items{
        display: none;
    }
    .nav_btn{
        display: none;
    }
    .navbar{


    }
    .navbar {
        margin: 0;
        height: 120px;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px solid rgba(254, 163, 1, 1);
    }
    header{
        max-width: 100%;
        margin: 0;
        
    }
    .nav_container{
        padding: 0 20px;
    }

        /* navbar responsive end */

        /* banner responsive start */
    .banner_section{
        flex-direction: column-reverse;
        padding: 20px;
        justify-content: center;
        
    }
    .banner_text_container{
        text-align: center;
    }
    .banner_title{
        font-size: 2rem;
    }
    .primary_p{
        font-size: 0.8rem;
    }
    .primary_p br{
        display: none   ;
    }

        /* banner responsive end */
    


        /* standard curriculum */

       .clm_container{
        grid-template-columns: repeat(1, 1fr);
       }
       .std_clm_title{
        font-size: 1.5rem;
        font-weight: bold;
       }



        /* standard curriculum */
}




/* navbar responsive start */

/*  responsive for mobile device end */