@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: "Quicksand", serif;
}
 header{
    max-width: 80%;
    margin:50px auto;
 }

/* -------------header styles start---------- */

/* navbar styles  */
/* .navbar{    
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid rgba(254, 163, 1, 1);
} */

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo_part{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav_title{
        color: rgb(17, 17, 17);    
        font-size: 32px;
        font-weight: 700;      
}
.menu_items {
    display: flex;
    gap: 32px;

}
.menu_items li{
    list-style: none;
}
.menu_items li a{
    text-decoration: none;
}
#home{
        color: rgb(254, 163, 1);
        font-size: 1.5rem;
        font-weight: 500;
       
}
#about {
    color: rgb(1, 172, 253);
    font-size: 1.5rem;
    font-weight: 500;

}
#Facilities{
    color: rgb(5, 212, 223);
    font-size: 1.5rem;
    font-weight: 500;
}
#Admission{
    color: rgb(93, 88, 239);
    font-size: 1.5rem;
    font-weight: 500;
}
.nav_btn{
    color: rgb(255, 255, 255);
    background-color: #fff;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 15px 45px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav_menubar{
    display: none;
}




/* -------------header styles end---------- */

/*  responsive for mobile device start */


/* navbar responsive start */

@media screen and (max-width:576px) {
    .nav_title{
        display: none;
    }
    .nav_menubar{
        display: contents;
    }
    .menu_items{
        display: none;
    }
    .nav_btn{
        display: none;
    }
    .navbar{


    }
    .navbar {
        margin: 0;
        height: 120px;
        padding-top: 25px;
        padding-bottom: 25px;
        border: 1px solid rgba(254, 163, 1, 1);
    }
    header{
        max-width: 100%;
        margin: 0;
        
    }
    .nav_container{
        padding: 0 20px;
    }
    
}


/* navbar responsive end */

/*  responsive for mobile device end */